.Rproj.user
.Rhistory
.RData
.Ruserdata
wc2.1_30s_bio_9.tif
CULTIR_2000.asc
CULTRF_2000.asc
CULT_2000.asc
ClimateNA
FOR_2000.asc
GRS_2000.asc
HII
NVG_2000.asc
URB_2000.asc
dblbnd.adf
hdr.adf
log
maxent.bat
maxent.jar
maxent.sh
prj.adf
sta.adf
vat.adf
w001001.adf
w001001x.adf
wc2-5
wc2.1_30s_bio.zip
wc2.1_30s_bio_1.tif
wc2.1_30s_bio_11.tif
wc2.1_30s_bio_10.tif
wc2.1_30s_bio_12.tif
wc2.1_30s_bio_13.tif
wc2.1_30s_bio_14.tif
wc2.1_30s_bio_15.tif
wc2.1_30s_bio_16.tif
wc2.1_30s_bio_17.tif
wc2.1_30s_bio_18.tif
wc2.1_30s_bio_19.tif
wc2.1_30s_bio_2.tif
wc2.1_30s_bio_3.tif
wc2.1_30s_bio_4.tif
wc2.1_30s_bio_5.tif
wc2.1_30s_bio_6.tif
wc2.1_30s_bio_7.tif
wc2.1_30s_bio_8.tif
absence
presence
Geranium.lucidum
test.cor.plot.png
readme.txt
points_high_res.R
bio2.crop_NAs.png
Geranium_soilconditions.csv
Geranium_landcover.csv
Geranium_data_train.csv
Geranium_data_test.csv
Geranium_data_clean.csv
Geranium_HIIvalues.csv
